/*
 * WP Theme
 *
 *
 */

// --- Color system ---

$primary: #37c871;
$secondary: #c83771;
$success: #82ff2e;
$info: #44d0ff;
$warning: #ffc039;
$danger: #ff4d4d;
$light: #eee;
$dark: #333;


// --- Typography ---

$font-family-sans-serif: system-ui, -apple-system, 'Segoe UI', roboto, 'Helvetica Neue', arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$font-family-base: rubik, $font-family-sans-serif;
$headings-font-weight: 700;   // 500;
// --- Links ---
$link-decoration: none; // underline;
