/*

  Variables
  +

*/

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

:root {
	--colour-bg: #191919;
	--colour-h: #fff;
	--colour-txt: #999;
	--colour-bd: #{ rgba( #fff, .25 ) };

	--colour-underline: #{ rgba( #fff, .5 ) };
	--colour-underline-alt: #{ rgba( #000, .5 ) };

	--colour-bg-site: #292929;
	--colour-h-site: var(--colour-h);
	--colour-txt-site: var(--colour-txt);
	--colour-bd-site: var(--colour-bd);
  --colour-bd-red-site: #af0f37;

	--colour-bg-site-alt: #efc429;
	--colour-h-site-alt: #000;
	--colour-txt-site-alt: #{ rgba( #2d2d2d, .75 ) };
	--colour-bd-site-alt: #{ rgba( #000, .25 ) };

	--colour-bg-link-admin: #{ rgba( #af0f37, .8 ) };

  --gradient-start: rgba(17, 153, 142, 1);
	--gradient-end: rgba(56, 239, 125, 1)

}